.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 160px;
  background-color: #2f2f2f;
  width: 100%;
  padding: 100px 0;
  img {
    width: 200px;
    height: 100px;
    cursor: pointer;
  }

  .credentials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      li {
        font-weight: 500;
        color: #999999;
        font-size: 12px;
        list-style-type: none;
      }
    }
    p {
      color: #ffffff;
      font-size: 12px;
    }
  }
}
