.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 330px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  img {
    height: 190px;
    width: 100%;
    object-fit: cover;
  }
  h3 {
    font-size: 14px;
    margin: 10px;
  }
}
